
# IDE files/directories
/.idea
.settings
.classpath
.project
*.iml

# Ignore in all directories
/.gradle
/build

# Ignore in this directory
/.logs
/.preferences
/Mods/_Red Alert/Mix/
/Mods/_Tiberium Dawn/Mix/
/MixFileKey.dll
