<!--
  ~ Copyright 2019, Emanuel Rabina (http://www.ultraq.net.nz/)
  ~ 
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~ 
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~ 
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<configuration>
	<statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
	<timestamp key="timestamp" datePattern="yyyy-MM-dd-HH-mm-ss"/>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%thread] %-5level %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="file" class="ch.qos.logback.core.FileAppender">
		<file>${java.io.tmpdir}/redhorizon/logs/redhorizon-cli-${timestamp}.log</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="gui" class="nz.net.ultraq.redhorizon.engine.graphics.imgui.ImGuiLoggingAppender">
		<encoder>
			<pattern>%logger{0} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="nz.net.ultraq.redhorizon" level="DEBUG"/>
	<logger name="org.reflections" level="WARN"/>

	<root level="INFO">
		<appender-ref ref="console"/>
		<appender-ref ref="file"/>
		<appender-ref ref="gui"/>
	</root>
</configuration>
