name: build

on: [push, pull_request]
jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/actions/wrapper-validation@v3
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
      - run: ./gradlew build
      - uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: build-reports
          path: |
            redhorizon/build/reports/
            redhorizon-audio/build/reports/
            redhorizon-classic/build/reports/
            redhorizon-graphics/build/reports/
            redhorizon-input/build/reports/
            redhorizon-scenegraph/build/reports/
          retention-days: 30
